@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';


.content {

  padding-bottom: $apx-120;

  .banner {

    position: relative;
    width: 100%;
    height: $apx-450;
    border-radius: $apx-26;
    overflow: hidden;

    margin-top: $apx-32;

    img {

      object-fit: cover;
      width: 100%;
      height: 100%;

      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

    }



  }

  .text {

    margin-top: $apx-60;
    font-size: $apx-20;
    max-width: $apx-797;
    text-align: left;

  }




  .advantages {

    display: flex;
    justify-content: space-between;
    gap: $apx-40;

    margin-top: $apx-60;

    .advantages__item:nth-child(1) .number {
      transform: rotate(-6deg);
    }

    .advantages__item:nth-child(2) .number {
      transform: rotate(6deg);
    }

    .advantages__item:nth-child(3) .number {
      transform: rotate(-8deg);
    }


    .advantages__item:nth-child(1) .advantages__title {
      margin-bottom: $apx-24;
    }

    .advantages__item:nth-child(2) .advantages__title {
      margin-bottom: $apx-40;
    }

    .advantages__item:nth-child(3) .advantages__title {

      margin-bottom: $apx-37;
    }

    .advantages__item {

      background-image: url('/images/patern.jpg');
      min-height: $apx-376;
      padding: $apx-24;
      padding-top: $apx-24;
      border-radius: $apx-24;

      width: $apx-380;

      display: flex;
      flex-direction: column;

    }

    .number {

      font-family: var(--font-kosko);
      font-size: $apx-64;
      line-height: 120%;
      font-weight: 400;
      display: inline-block;
      width: fit-content;

    }

    .advantages__title {

      margin-top: 0 !important;
      padding-top: $apx-24;


    }


    .advantages_text {

      font-size: $apx-20;
      text-align: left;
      padding-top: 0 !important;

    }

  }

  .gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: $apx-894;
    margin-top: $apx-60;
    gap: $apx-40;

    .image_wrapper {

      position: relative;
      border-radius: $apx-30;
      overflow: hidden;
      background: none;
      border: none;

      img {
        object-fit: cover;
      }

    }

    .image_wrapper:nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;
    }

    .image_wrapper:nth-child(2) {
      grid-area: 1 / 3 / 2 / 4;
    }

    .image_wrapper:nth-child(3) {
      grid-area: 2 / 1 / 3 / 4
    }

  }

}

@media screen and (max-width: $media-laptop) {

  .content {

    padding-bottom: $apx-l-60;

    .banner {

      height: $apx-l-300;
      border-radius: $apx-l-18;

      margin-top: $apx-l-24;

    }

    .title {
      font-size: $apx-l-44 !important;
    }

    .text {

      margin-top: $apx-l-40;
      font-size: $apx-l-18;

      max-width: none;
      width: 100%;

    }

    .advantages {

      gap: $apx-l-20;

      margin-top: $apx-l-40;


      .advantages__item:nth-child(1) .advantages__title {
        padding-top: $apx-l-12;
        margin-bottom: $apx-l-12;
      }

      .advantages__item:nth-child(2) .advantages__title {
        padding-top: $apx-l-24;
        margin-bottom: $apx-l-50;
      }

      .advantages__item:nth-child(3) .advantages__title {
        padding-top: $apx-l-24;
        margin-bottom: $apx-l-51;
      }
      

      .advantages__item {

        min-height: $apx-l-338;
        padding: $apx-l-18 $apx-l-14;
        border-radius: $apx-l-24;

        width: $apx-l-236;

      }

      .number {
        font-size: $apx-l-44;
      }

      .advantages__title {

        font-size: $apx-l-28;


      }

      .advantages_text {

        font-size: $apx-l-18;

      }

    }

    .gallery {

      height: $apx-l-528;
      margin-top: $apx-l-40;
      gap: $apx-l-20;

      .image_wrapper {
        border-radius: $apx-l-18;

        img {
          width: 100%;
        }
      }

    }

  }

}



@media screen and (max-width: $media-mobile) {

  .content {

    padding-bottom: $apx-m-40;

    .banner {

      height: $apx-m-300;
      border-radius: $apx-m-18;

      margin-top: $apx-m-40;

    }

    .title {
      font-size: $apx-m-32 !important;
    }

    .text {

      margin-top: $apx-m-40;
      font-size: $apx-m-16;

    }

    .advantages {

      gap: $apx-m-8;
      margin-top: $apx-m-40;
      flex-direction: column;

      
      .advantages__item:nth-child(1) .advantages__title {
        padding-top: $apx-m-12;
        margin-bottom: $apx-m-12;
      }

      .advantages__item:nth-child(2) .advantages__title {
        padding-top: $apx-m-24;
        margin-bottom: $apx-m-12;
        margin-top: 0;
      }

      .advantages__item:nth-child(3) .advantages__title {
        padding-top: $apx-m-24;
        margin-bottom: $apx-m-12;
      }

      .advantages__item {

        min-height: $apx-m-220;
        padding: $apx-m-18 $apx-m-14;
        border-radius: $apx-m-24;

        width: 100%;

      }

      .number { 
        font-size: $apx-m-34;
      }

      .advantages__title {

        font-size: $apx-m-24;

      }

      .advantages_text {

        font-size: $apx-m-16;

      }

    }

    .gallery {

      height: $apx-m-257;
      margin-top: $apx-m-40;
      gap: $apx-m-8;

      .image_wrapper {

        border-radius: $apx-m-8;


      }

    }

  }

}