@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';

.label {

  display: flex;
  cursor: pointer;

  input {

    display: none;

  }

  .styled_button {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    min-width: $apx-17;
    height: $apx-17;

    border-radius: 50%;
    background: var(--color-beige);

    span {

      min-width: $apx-9;
      height: $apx-9;
      border-radius: 50%;
      transition: background .3s;

    }

  }

  .styled_button.active {

    border: $apx-1 solid var(--color-yellow);
    background: var(--color-white);

    span { background: var(--color-yellow); }

  }

  .label_text {

    margin-left: $apx-8;
   
    font-family: var(--font-myweekend);
    font-weight: 400;
    font-size: $apx-16;
    line-height: 120%;

  }

}

@media (max-width: $media-laptop) {
  

  .label {
  
    .styled_button {
  
  
      min-width: $apx-l-17;
      height: $apx-l-17;
  
  
      span {
  
        min-width: $apx-l-9;
        height: $apx-l-9;
  
      }
  
    }
  
    .styled_button.active {
  
      border: $apx-l-1 solid var(--color-yellow);
  
    }
  
    .label_text {
  
      margin-left: $apx-l-8;
      font-size: $apx-l-16;
  
    }
  
  }
  

}


@media (max-width: $media-mobile) {
  

  .label {
  
    .styled_button {
  
  
      min-width: $apx-m-17;
      height: $apx-m-17;
  
  
      span {
  
        min-width: $apx-m-9;
        height: $apx-m-9;
  
      }
  
    }
  
    .styled_button.active {
  
      border: $apx-m-1 solid var(--color-yellow);
  
    }
  
    .label_text {
  
      margin-left: $apx-m-8;
      font-size: $apx-m-16;
  
    }
  
  }
  

}