@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';

.content {

  display: flex;
  gap: $apx-40;

  padding-bottom: $apx-100;

}

.skeleton {

  display: flex;
  padding: $apx-50;
  gap: $apx-40;
  height: 100%;

  justify-content: space-between;

  span {
    display: block !important;
    width: 100% !important;
  }

  span:last-child {
    height: $apx-30;
  }

}


@media screen and ( max-width: $media-laptop ) {
  
  .content {

    gap: $apx-l-20;
  
    padding-bottom: $apx-l-60;
  
  }

}

@media screen and ( max-width: $media-mobile ) {
  
  .content {

    gap: $apx-m-24;
    flex-direction: column;

    padding-bottom: $apx-m-49;
  
  }

  .skeleton {

    flex-direction: column;
    height: 100%;
    padding-bottom: $apx-m-200;

    span{
      height: 100%;
    }

  }

}