@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';


.home {

  .banner {

    width: 100%;
    position: relative;
    height: $apx-450;
    border-radius: $apx-20;
    overflow: hidden;

    background: var(--color-beige);
    background-image: url(/images/patern.jpg);
    background-size: $apx-300;
    background-position-y: -$apx-20;
    background-position-x: $apx-60;

    img {
      max-width: $apx-647 !important;
      min-height: $apx-450 !important;
      right: 0 !important;
      left: auto !important;
    }

    h1 {

      width: $apx-500;
      text-align: center;
      margin-top: $apx-148;
      margin-left: $apx-51;
      font-size: $apx-72 !important;
      font-family: var(--font-myweekend);

      .main_word {
        font-size: $apx-96 !important;
      }

      .yellow_word {

        margin-right: $apx-10;
        color: var(--color-yellow);
        position: relative;

        svg {
          position: absolute;
          left: -$apx-16;
          bottom: -$apx-8;

          width: $apx-276;
          height: $apx-35;
        }
      }
    }

  }

  .all_link {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $apx-76;
    gap: $apx-16;

    &:hover {
      text-decoration-color: var(--color-green) !important;
    }


    span {
      color: var(--color-green);
    }

    .icon {

      width: $apx-87;
      height: $apx-33;
      margin-top: -$apx-10;

    }

  }

  .contacts_banner {

    position: relative;
    height: $apx-433;
    margin-top: $apx-120;

    .mobile_banner {

      display: none !important;

    }

    img {

      width: 100%;
      width: $apx-433;
      z-index: -1;

    }

    .text {

      position: absolute;
      bottom: $apx-52;
      left: $apx-42;
      width: $apx-671;

      p {
        text-align: left;
      }

      p:first-child {
        font-size: $apx-32;
      }

      p:last-child {
        font-size: $apx-16;
        opacity: .5;
        margin-top: $apx-16;
      }

      a {
        color: var(--color-green) !important;
      }

    }


  }

}

.more_link {

  display: flex;
  gap: $apx-12;
  justify-content: center;
  align-items: center;
  margin-top: $apx-52;

  span {
    color: var(--color-green);
  }

  &:hover {
    text-decoration-color: var(--color-green) !important;
  }


}

.more_link_icon {

  width: $apx-87;
  height: $apx-33;


  svg,
  div {
    width: 100%;
    height: 100%;
  }

}

.about {

  position: relative;
  width: 100%;
  min-height: $apx-787;
  margin-top: $apx-120;


  .bg_mobile {
    display: none;
  }

  .bg {
    z-index: -1;
  }



  .title {

    font-family: var(--font-myweekend);
    width: $apx-816;
    margin: 0 auto;
    margin-top: $apx-147;
    position: relative;

  }

  .discolor {

    right: $apx-18;
    top: -$apx-22;
    z-index: -1;

    width: $apx-453;
    height: $apx-100;

  }

  .wave_underlining {

    bottom: $apx-68;
    z-index: -1;
    right: $apx-32;

    width: $apx-755;
    height: $apx-23;


  }

  .stick {

    bottom: -$apx-8;
    left: $apx-169;
    transform: rotate(7deg);

    width: $apx-118;

    path {
      stroke: var(--color-green);
    }

  }

  .heart {

    right: $apx-3;
    bottom: $apx-6;

    width: $apx-19;
    height: $apx-17;

  }

  .discolor,
  .wave_underlining,
  .stick,
  .heart {
    position: absolute;
  }

  .subtitle {

    position: relative;
    font-size: $apx-32;
    width: $apx-568;
    margin: 0 auto;
    margin-top: $apx-53;

  }


}

.location {

  .title {

    margin-top: $apx-120;
    font-family: var(--font-myweekend);

  }


  .info {

    display: flex;
    margin-bottom: $apx-120;
    margin-top: $apx-109;
    justify-content: center;

  }

  .text {

    position: relative;

    min-width: $apx-532;
    height: $apx-407;
    padding-top: $apx-141;
    padding-left: $apx-40;

    right: -$apx-56;
    top: -$apx-34;

    p {
      text-align: left;
    }

    &::after {

      position: absolute;

      content: '';
      background: var(--color-grey);
      display: block;
      width: 100%;
      height: 100%;

      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      z-index: -1;

      transform: rotate(-4.61deg);

      border-radius: $apx-42;

    }

  }

  .text .name {

    display: inline-block;
    margin-bottom: $apx-12;
    font-size: $apx-24;
    opacity: .8;

  }

  .text .address {
    font-size: $apx-32;
  }

  .text .link {

    display: flex;
    gap: $apx-12;
    margin-top: $apx-30;

    span {
      color: var(--color-green);
    }

    &:hover {
      text-decoration-color: var(--color-green) !important;
    }

    .icon {

      width: $apx-87;
      height: $apx-33;

    }


  }


}

@media (max-width: $media-laptop) {

  .location {

    position: relative;

    .title {

      margin-top: $apx-l-60;

    }

    .map {

      min-width: $apx-l-435 !important;
      min-height: $apx-l-277;
      border-radius: $apx-l-20;
      position: absolute;
      right: $apx-l-14;
      bottom: $apx-l-60;

    }

    .info {

      margin-bottom: $apx-l-60;
      margin-top: calc($apx-l-34 + $apx-l-33 );
      width: 100%;
      display: block;

    }

    .text {

      width: $apx-l-368;
      height: $apx-l-260;
      padding-top: $apx-l-75;
      padding-left: $apx-l-35;

      left: $apx-l-10;
      right: auto;
      top: -$apx-l-34;


      &::after {

        border-radius: $apx-l-20;

      }

    }

    .text .name {

      margin-bottom: $apx-l-10;
      font-size: $apx-l-18;

    }

    .text .address {
      font-size: $apx-l-20;
    }

    .text .link {

      display: flex;
      gap: $apx-l-18;
      margin-top: $apx-l-30;
      align-items: center;

      .icon {

        width: $apx-l-45;
        height: $apx-l-17;

      }


    }


  }

  .catalog {

    .title {
      margin-top: $apx-l-60;
    }


    .list {

      gap: $apx-l-20;
      margin-top: $apx-l-24;

      .item {

        max-width: $apx-l-236;

      }

      .preview {

        width: $apx-l-236;
        height: $apx-l-239;

        border-radius: $apx-l-20;

      }

      .main_info {
        margin-top: $apx-l-32;
      }


      .item_description {

        margin-top: $apx-l-8;

      }

      .bottom {
        margin-top: $apx-l-24;
      }

      .price {

        gap: $apx-l-10;

        p {
          font-size: $apx-l-24;
        }

        .old_price {

          svg {
            left: 0;
            bottom: $apx-l-5;
            width: $apx-l-67;
            height: $apx-l-14;

          }
        }

      }


      .like {

        width: $apx-l-30;
        height: $apx-l-30;

        top: $apx-l-16;
        right: $apx-l-16;
        padding-top: $apx-l-3;

        svg {
          width: $apx-l-19;
          height: $apx-l-19;
        }

      }


    }

    .type {

      position: relative;
      left: $apx-l-5;
      top: $apx-l-16;
      width: $apx-l-69;
      height: $apx-l-37;


    }

  }

  .about {

    min-height: $apx-l-511;
    margin-top: $apx-l-60;

    .bg {
      width: 104% !important;
    }

    .more_link {

      gap: $apx-l-12;
      margin-top: $apx-l-30;
      display: flex;


    }

    .more_link_icon {

      width: $apx-l-45;
      height: $apx-l-17;
      right: 0;


    }


    .title {

      width: $apx-l-475;
      margin-top: $apx-l-100;

    }

    .discolor {

      right: -$apx-l-4;
      top: -$apx-l-14;
      z-index: -1;

      width: $apx-l-282;
      height: $apx-l-62;

    }

    .wave_underlining {

      bottom: $apx-l-43;
      right: -$apx-l-24;
      width: $apx-l-528;
      height: $apx-l-16;


    }

    .stick {

      bottom: -$apx-l-11;
      left: $apx-l-116;

      width: $apx-l-66;

    }

    .heart {

      right: $apx-36;
      bottom: $apx-4;

      width: $apx-l-12;
      height: $apx-l-11;

    }

    .subtitle {

      font-size: $apx-l-20;
      width: $apx-l-378;
      margin-top: $apx-l-30;

    }


  }

  .home {

    .all_link {

      align-items: center;
      margin-top: $apx-l-35;
      gap: $apx-l-18;

      .icon {

        width: $apx-l-45;
        height: $apx-l-17;

      }

    }

    .banner {

      height: $apx-l-320;
      border-radius: $apx-l-26;
  
      background-size: $apx-l-220;
      background-position-y: -$apx-l-20;
      background-position-x: $apx-l-40;
  
      img {

        min-width: $apx-l-395 !important;

        max-height: $apx-l-320 !important;
        right: 0 !important;
        left: auto !important;
        bottom: 0 !important;
        top: auto !important;

      }
  
      h1 {
  
        width: $apx-l-309;
        margin-top: $apx-l-109;
        margin-left: $apx-l-31;
        font-size: $apx-l-44 !important;
  
        .main_word {
          font-size: $apx-l-64 !important;
        }
  
        .yellow_word {
  
          margin-right: $apx-l-10;
  
          svg {

            left: -$apx-l-8;
            bottom: -$apx-l-6;
            opacity: .8;

            width: $apx-l-168;
            height: $apx-l-25;

          }
        }
      }
  
    }

    .contacts_banner {

      height: $apx-l-300;
      margin-top: $apx-l-60;

      img {

        width: 100%;
        width: $apx-l-748;
        z-index: -1;

      }

      .text {

        position: absolute;
        bottom: $apx-l-30;
        left: $apx-l-36;
        width: $apx-l-416;

        p:first-child {
          font-size: $apx-l-20;
        }

        p:last-child {
          font-size: $apx-l-10;
          margin-top: $apx-l-7;
        }

      }

    }


  }

}

@media (max-width: $media-mobile) {


  .location {

    min-height: $apx-m-457 !important;

    .title {

      margin-top: $apx-m-40;

    }

    .map {

      min-width: $apx-m-276 !important;
      min-height: $apx-m-190;
      border-radius: $apx-m-16;
      position: absolute;
      right: $apx-m-10;
      bottom: $apx-m-40;

    }

    .info {


      width: 100%;
      padding-top: $apx-m-10;
      display: block;

    }

    .text {

      width: $apx-m-262;
      height: $apx-m-224;
      padding-top: $apx-m-40;
      padding-left: $apx-m-26;
      left: $apx-m-9;

      &::after {

        border-radius: $apx-l-20;

      }

    }

    .text .name {

      margin-bottom: $apx-m-6;
      font-size: $apx-m-18;

    }

    .text .address {
      font-size: $apx-m-16;
    }

    .text .link {

      display: flex;
      gap: $apx-l-18;
      margin-top: $apx-l-30;
      align-items: center;

      .icon {

        width: $apx-m-33;
        height: $apx-m-13;

      }

    }

  }


  .about {

    .more_link_icon {

      width: $apx-m-33;
      height: $apx-m-13;

    }

    .more_link {

      gap: $apx-m-12;
      margin-top: $apx-m-30;
      align-items: center;

    }

    min-height: $apx-m-447;
    margin-top: $apx-m-40;


    .bg_mobile {

      display: block;
      width: 100% !important;
      object-fit: fill;
      z-index: -1;

    }

    .bg {

      display: none;

    }

    .title {

      width: $apx-m-276;
      margin-top: $apx-m-80;

    }

    .discolor {

      right: -$apx-l-4;
      top: -$apx-l-14;
      z-index: -1;

      width: $apx-m-169;
      height: $apx-m-37;

      right: $apx-m-68;
      top: $apx-m-24;
      width: $apx-m-215;
      height: $apx-m-39;

    }

    .wave_underlining {

      bottom: $apx-m-27;
      right: $apx-m-29;
      width: $apx-m-217;
      height: $apx-m-11;


    }

    .stick {

      bottom: -$apx-m-10;
      left: $apx-m-91;
      width: $apx-m-54;

    }

    .heart {

      right: $apx-m-5;
      bottom: $apx-m-1;

      width: $apx-m-10;
      height: $apx-m-11;

    }

    .subtitle {

      font-size: $apx-m-16;
      width: $apx-m-288;
      margin-top: $apx-m-37;

    }


  }

  .catalog {


    .title {
      margin-top: $apx-m-40;
    }


    .list {

      grid-template-columns: 1fr 1fr !important;
      gap: $apx-m-24;
      margin-top: $apx-m-20;

      .item {

        max-width: $apx-m-142;
        display: flex;
        flex-direction: column;

      }

      .preview {

        width: $apx-m-142;
        min-height: $apx-m-144;

        border-radius: $apx-m-12;

      }

      .main_info {
        margin-top: $apx-m-18;
        height: 100%;

        display: flex;
        flex-direction: column;
      }


      .item_description {

        margin-top: $apx-m-4;
        margin-bottom: $apx-m-8;

      }

      .bottom {
        margin-top: auto;
        align-items: flex-end;
      }

      .price {

        gap: 0;
        flex-direction: column-reverse;

        p {
          font-size: $apx-m-18;
        }

        .old_price {

          font-size: $apx-m-13;

          svg {
            left: 0;
            bottom: -$apx-m-1;
            width: $apx-m-36;
            height: $apx-m-14;

          }
        }

      }


      .like {

        width: $apx-m-22;
        height: $apx-m-22;

        top: $apx-m-8;
        right: $apx-m-8;
        padding-top: $apx-m-3;

        svg {
          width: $apx-m-14;
          height: $apx-m-14;
        }

      }


    }

    .type {

      left: $apx-m-6;
      top: $apx-m-5;
      width: $apx-m-41;
      height: $apx-m-37;


    }

  }

  .home {


    .all_link {

      align-items: center;
      margin-top: $apx-m-24;
      gap: $apx-m-12;



      .icon {

        width: $apx-m-33 !important;
        height: $apx-m-13 !important;


      }

    }


    .banner {

      height: $apx-m-384;
      border-radius: $apx-m-20;
  
      background-size: $apx-m-170;
      background-position-y: -$apx-m-10;
      background-position-x: -$apx-m-20;
  
      img {

        min-width: $apx-m-290 !important;

        max-height: $apx-m-217 !important;
        left: $apx-m-10;
        right: 0;

      }
  
      h1 {
  
        width: $apx-m-235;
        margin: 0 auto;
        font-size: $apx-m-32 !important;
        margin-top: $apx-m-67;
  
        .main_word {
          font-size: $apx-m-52 !important;
        }
  
        .yellow_word {
  
          margin-right: $apx-m-10;
  
          svg {

            left: -$apx-m-8;
            bottom: -$apx-m-12;
            opacity: .8;

            width: $apx-m-120;
            height: $apx-m-25;

          }
        }
      }
  
    }

    .contacts_banner {

      height: $apx-m-467;
      margin-top: $apx-m-40;

      img {

        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        border-radius: 16px;
        overflow: hidden;

      }

      .desk_banner {
        display: none;
      }

      .mobile_banner {
        display: block !important;
      }


      .text {

        position: absolute;
        bottom: 0;
        top: 0;
        left: $apx-m-12;
        width: 100%;

        p:first-child {
          font-size: $apx-m-16;
          position: absolute;
          top: $apx-m-114;
        }

        p:last-child {
          font-size: $apx-m-10;
          position: absolute;
          bottom: $apx-m-31
        }

      }

    }

  }

}