@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';

.contacts_page {

  .title {

    text-align: left;
    font-size: $apx-64;
    font-family: var(--font-myweekend);
      
  }

  .map {

    width: $apx-612;
    height: $apx-473;
    margin-top: $apx-40;

    overflow: hidden;
    border-radius: $apx-28;
    background: var(--color-beige);

  }

  .main {
    display: flex;
    margin-bottom: $apx-120;
  }

  .info {

    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: $apx-68;
    row-gap: $apx-40;


    width: $apx-679;
    height: $apx-451;

    padding: $apx-40;
    padding-right: $apx-77;
    padding-left: $apx-40;

    a { color: var(--color-green) !important}

  }

  .info::after {

    position: absolute;
    z-index: -1;
    content: '';
    background: var(--color-grey);


    width: 100%;
    height: 100%;

    top: -$apx-20;
    left: -$apx-32;

    border-radius: $apx-42;
    transform: rotate(-3deg);

  }

  .info.block {

    display: flex;
    flex-direction: column;

    
  }
  h2,p,a {
    text-align: left !important;
  }

  h2 {
    margin-bottom: $apx-16;
  }

}

@media screen  and ( max-width: $media-laptop) {
  
  .contacts_page {

    .title {
  
      font-size: $apx-l-44;
        
    }
  
    .map {
  
      min-width: $apx-l-364;
      height: $apx-l-277;
      margin-top: $apx-l-24;
  
      border-radius: $apx-l-18;
  
    }
  
    .main {

      display: flex;
      margin-bottom: $apx-l-60 !important;

    }
  
    .info {

      column-gap: $apx-l-20;
      row-gap: $apx-l-16;
  
  
      width: 100%;
      height: 100%;

      margin-left: -$apx-l-28;
      margin-top: -$apx-l-22;
  
      padding: $apx-l-35 $apx-l-28 $apx-l-9 $apx-l-43 !important;

  
      a { color: var(--color-green) !important}
  
    }
  
    .info::after {
  
      position: absolute;
      z-index: -1;
      content: '';
      background: var(--color-grey);
  
  
      width: 100%;
      height: 100%;
  
      top: 0;
      left: 0;
  
      border-radius: $apx-l-18;
      transform: rotate(-3deg);
  
    }
  
    .info.block {
  
      display: flex;
      flex-direction: column;
      
    }

    h2,p,a {
      text-align: left !important;
      font-size: $apx-l-16;
    }
  
    h2 {
      font-size: $apx-l-28;
      margin-bottom: $apx-l-12;
    }
  
  }

}


@media screen  and ( max-width: $media-mobile) {
  
  .contacts_page {

    .title {
  
      font-size: $apx-m-32;
        
    }
  
    .map {
  
      min-width: $apx-m-280;
      margin: 0 auto;
      height: $apx-m-213;
      margin-top: -$apx-m-15;
  
    }
  
    .main {

      display: flex;
      margin-bottom: $apx-m-40 !important;
      margin-top: $apx-m-13 !important;
      flex-direction: column-reverse;

    }
  
    .info {

      column-gap: $apx-m-20;
      row-gap: $apx-m-16;
  
  
      width: 100%;
      height: 100%;

      margin-left: 0;
      margin-top: 0;
  
      padding: $apx-m-26 $apx-m-13 $apx-m-28 $apx-m-12 !important;
      grid-template-rows: auto !important;

  
    }
  
    .info::after {
  
      position: absolute;
      z-index: -1;
      content: '';
      background: var(--color-grey);
  
  
      width: 100%;
      height: 100%;
  
      top: 0;
      left: 0;
  
      border-radius: $apx-m-18;
      transform: rotate(-3deg);
  
    }
  
    .info.block {
  
      display: flex;
      flex-direction: column;
      height: fit-content;
      
    }

    h2,p,a {
      text-align: left !important;
      font-size: $apx-m-14;
    }
  
    h2 {
      font-size: $apx-m-20;
      margin-bottom: $apx-m-12;
    }
  
  }

}