@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';

  .list {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: $apx-40;
    margin-top: $apx-47;

  }

  
  .item {

    position: relative;
    max-width: $apx-380;
    display: flex;
    flex-direction: column;
    height: 100%;
    
  }

  .preview {

    position: relative;
    width: $apx-380;
    min-height: $apx-390;


    img {
      border-radius: $apx-26;
      // transition: .3s transform;
    }

    // &:hover {


    //   img:first-child {
    //     transform: rotate(8deg);
    //   }

    // }

  }

  .main_info {
    margin-top: $apx-56;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .main_info a,
  .main_info p,
  .main_info h2 {

    text-align: left !important;


  }

  .item_title {

    font-family: var(--font-myweekend) !important;
    text-decoration: none !important;
    color: var(--color-black) !important;

  }

  .item_description {

    margin-top: $apx-10;
    color: #37363F;
    margin-bottom: $apx-32;

  }

  .bottom {

    display: flex;
    justify-content: space-between;
    margin-top: auto;


  }

  .price {

    display: flex;
    gap: $apx-10;
    flex-wrap: nowrap;


    p {
      font-size: $apx-40;
      font-family: var(--font-myweekend);
      white-space: nowrap;

    }

    .old_price {
      position: relative;
      opacity: .5;

      svg {

        position: absolute;
        left: -$apx-5;
        bottom: $apx-13;
        width: auto;
        height: $apx-16;

      }
    }

  }


  .type {

    position: relative;
    left: $apx-16;
    top: $apx-20;
    width: $apx-100;
    height: $apx-60;

    img {
      object-fit: contain;
    }

  }

.catalog {

  .title {

    font-family: var(--font-myweekend);
    margin-top: $apx-100;

  }





}

@media (max-width: $media-laptop) {

  .catalog {

    .title {
      margin-top: $apx-l-60;
    }




  }
  .list {

    gap: $apx-l-20;
    margin-top: $apx-l-24;



  }
  .item {

    max-width: $apx-l-236;

  }

  .preview {

    width: $apx-l-236;
    min-height: $apx-l-239;

    border-radius: $apx-l-20;

  }

  .main_info {
    margin-top: $apx-l-32;
  }


  .item_description {

    margin-top: $apx-l-8;
    margin-bottom: $apx-l-24;

  }

  .bottom {
    margin-top: auto;
  }

  .price {

    gap: $apx-l-10;

    p {
      font-size: $apx-l-24;
    }

    .old_price {

      svg {

        left: 0;
        bottom: $apx-l-10;
        right: 0;
        width: 110%;
        height: $apx-l-14;

      }
    }

  }

  .type {

    position: relative;
    left: $apx-l-5;
    top: $apx-l-16;
    width: $apx-l-69;
    height: $apx-l-37;


  }

}

@media (max-width: $media-mobile) {


  .catalog {


    .title {
      margin-top: $apx-m-40;
    }

  }
  .list {

    grid-template-columns: 1fr 1fr !important;
    gap: $apx-m-24;
    margin-top: $apx-m-20;


  }
  
  .item {

    max-width: $apx-m-142;
    display: flex;
    flex-direction: column;

  }

  .preview {

    width: $apx-m-142;
    min-height: $apx-m-144;

    border-radius: $apx-m-12;

  }

  .main_info {
    margin-top: $apx-m-18;
    height: 100%;

    display: flex;
    flex-direction: column;
  }


  .item_description {

    margin-top: $apx-m-4;
    margin-bottom: $apx-m-8;

  }

  .bottom {
    margin-top: auto;
    align-items: flex-end;
  }

  .price {

    gap: 0;
    flex-direction: column-reverse;

    p {
      font-size: $apx-m-18;
    }

    .old_price {

      font-size: $apx-m-13;

      svg {
        left: 0;
        bottom: -$apx-m-1;
        width: $apx-m-36;
        height: $apx-m-14;

      }
    }

  }

  .type {

    left: $apx-m-6;
    top: $apx-m-5;
    width: $apx-m-41;
    height: $apx-m-37;


  }


}