@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';

.header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white);

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: $apx-19;
  height: $apx-149;

  z-index: 100;
  padding-bottom: $apx-10;

  .mobile_menu_button {

    display: none;

  }

  .logo {

    position: relative;
    display: block;

    width: $apx-148;
    height: $apx-54;

    svg {
        
      width: 100%;
      height: 100%;
      
    }

  }

  .main {
    width: 100%;
  }

  .navigation {

    display: flex;
    gap: $apx-32;
    margin-left: $apx-54;

  }

  .controls {
    margin-left: auto;
  }

  .navigation_item a {

    color: var(--color-green) !important;
    font-family: var(--font-garamondCondensed) !important;

  }


}

.header.header_small {

  height: auto;
  align-items: center;
  justify-content: center;

}

.icon {

  width: $apx-26;
  height: $apx-26;

}

.control_with_icon {

  gap: $apx-4;


  p {

    color: var(--color-green);

  }

}


.mobile_menu {

  position: fixed;

  background: var(--color-white);
  left: 0;
  right: 0;
  bottom: 0;
  top: $apx-m-56;
  z-index: 10;
  overflow: auto;
  scroll-margin-top: $apx-m-57;

  &_content {

    min-height: calc( $apx-m-716 - $apx-m-57);
    height: calc(100vh - $apx-m-57);

  }

  ul {
    margin-top: 0;
  }

  .categories {

    flex-direction: column;

    a {

      font-family: var(--font-garamondCondensed) !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0;

    }
    
  }
  a {

    display: block;
    font-family: var(--font-myweekend) !important;
    padding: $apx-m-8;
    margin-top:  $apx-m-8;

    font-size: $apx-m-20;

  }


  .controls {

    margin-top: $apx-m-22;
    padding-top: $apx-m-22;


    a {
      display: flex;
      align-items: center;
      gap:  $apx-m-8;
    }

    a svg path{

      stroke: var(--color-black);

    }

    border-top: $apx-m-1 solid #D9D9D9;

  }


  .contacts {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: $apx-m-300;
    height: $apx-m-118;

    background: var(--color-green);
    border-radius: $apx-m-16;
    color: var(--color-white);

    margin-top: $apx-m-24;

    a { padding: 0; margin: 0; }

    p {
    
      color: var(--color-white);
      font-size: $apx-m-16;
      
    }

  }

}

@media (max-width: $media-laptop) {

  .control_with_icon.adaptive_text {

    p {
      display: none;
    }

  }

  .control_with_icon {

    gap: $apx-l-8;

    .icon {

      width: $apx-l-24;
      height: $apx-l-24;

    }

  }

  .header.header_small {

    padding-top: $apx-l-10;
    padding-bottom: $apx-l-10;
    justify-content: center;

  }

  .header {

    height: $apx-l-120;
    padding-top: $apx-l-10;
    padding-bottom: $apx-l-10;

    .logo {

      width: $apx-l-136;
      height: $apx-l-50;

      svg {
        
        width: 100%;
        height: 100%;
        
      }

    }

    .navigation {

      gap: $apx-l-16;
      margin-left: $apx-l-48;

    }

  }

}


@media (max-width: $media-mobile) {

  .mobile_hide {
    display: none;
  }

  .mobile_menu_button {

    display: block !important;
    width: $apx-m-36;
    height: $apx-m-36;
    background: none;
    padding: 0;
    border: none;

    svg {

      width: 100%;
      height: 100%;

    }

  }

  .control_with_icon.adaptive_text {

    p {
      display: none;
    }

  }

  .controls {
    gap: $apx-m-16;
    div:nth-child(2) {
      display: none;
    }  
  }

  
  .control_with_icon {

    .icon {

      width: $apx-m-22;
      height: $apx-m-22;

    }

  }

  .header.header_small {

    padding-top: $apx-m-16;
    justify-content: center;
    padding-bottom: $apx-m-16 !important;


  }

  .header {

    height: $apx-m-132;
    padding-top: $apx-m-16;
    padding-bottom: $apx-m-10;


    .logo {

      width: $apx-m-113;
      height: $apx-m-42;
      margin-right: -$apx-m-26 !important;
      display: block;
      margin: 0 auto;

      svg {
        width: 100%;
        height: 100%;
      }


    }

    .navigation_item span {

        padding: $apx-m-4 $apx-m-8 !important;

    }

    .navigation {

      display: none;

    }

  }

}
