@import '@/app/_styles/apx.scss';
@import '@/app/_styles/breakpoints.scss';

.header {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white);

  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding-top: $apx-19;

  z-index: 100;
  padding-bottom: $apx-18;

  .mobile_menu_button {

    display: none;

  }

  .logo {

    position: relative;
    display: block;

    width: $apx-148;
    height: $apx-54;

    svg {
        
      width: 100%;
      height: 100%;
      
    }

  }

  .main {
    width: 100%;
  }

  .navigation {

    display: flex;
    gap: $apx-32;
    margin-left: $apx-54;

  }

  .controls {
    margin-left: auto;
  }

  .navigation_item a {

    color: var(--color-green) !important;
    font-family: var(--font-garamondCondensed) !important;

  }


}

.header.header_small {

  height: auto;
  align-items: center;
  justify-content: center;

}

.icon {

  width: $apx-26;
  height: $apx-26;

}

.control_with_icon {

  gap: $apx-4;
  background: none;
  border: none;

  p {

    color: var(--color-green);

  }

}

.mobile_menu {

  position: fixed;

  background: var(--color-white);
  left: 0;
  right: 0;
  bottom: 0;
  top: $apx-m-56;
  z-index: 10;
  overflow: auto;
  scroll-margin-top: $apx-m-57;

  &_content {

    min-height: calc( $apx-m-716 - $apx-m-57);
    height: calc(100vh - $apx-m-57);

  }

  ul {
    margin-top: 0;
  }

  .categories {

    flex-direction: column;

    a, button {

      font-family: var(--font-garamondCondensed) !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin-top: 0;

    }
    
  }
  a, button {

    display: block;
    font-family: var(--font-myweekend) !important;
    padding: $apx-m-8;
    margin-top:  $apx-m-8;

    font-size: $apx-m-20;

  }


  .controls {

    margin-top: $apx-m-22;
    padding-top: $apx-m-22;


    a, button {
      display: flex;
      align-items: center;
      gap:  $apx-m-8;

    }

    a button svg path, button svg path{

      stroke: var(--color-black);

    }

    border-top: $apx-m-1 solid #D9D9D9;

  }


  .contacts {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: $apx-m-300;
    height: $apx-m-118;

    background: var(--color-green);
    border-radius: $apx-m-16;
    color: var(--color-white);

    margin-top: $apx-m-24;

    a, button { padding: 0; margin: 0; }

    p {
    
      color: var(--color-white);
      font-size: $apx-m-16;
      
    }

  }

}

.sign_in_popup {



}

.sign_in_form {

  .sign_in_button {
  
    margin-top: $apx-40;
    width: 100%;
  
  }

  .code_time {

    font-weight: 400;
    font-size: $apx-14;
    line-height: 120%;
    text-align: center;
    margin-top: $apx-16;

  }

  .sign_in_code_send_button {
    
    margin-top: $apx-32;
    margin-bottom: $apx-10;

  }

  button {
    width: 100%;
  }

  .sign_in_privacy_policy {

    margin-top: $apx-16;
    font-size: $apx-16;
    color: var(--color-black);
    line-height: 120%;

    a {

      font-size: inherit !important;
      line-height: inherit;
      color: var(--color-green) !important;

    }

  }

  .sign_in_code {

    display: flex;
    gap: $apx-16;
    width: fit-content;
    margin: 0 auto;
    margin-top: $apx-8;
    flex-wrap: nowrap;
    justify-content: center;

    div {

      margin-top: 0;

    }

    input {

      width: 100%;
      text-align: center;

    }

  }

  .sign_in_code_label, .sign_in_code_err {

    font-family: var(--font-myweekend);
    font-weight: 400;
    font-size: $apx-14;
    line-height: 120%;

    margin-top: $apx-32;
    text-align: left;

  }

  .sign_in_code_err {

    color: var(--color-red);
    font-family: var(--font-garamondCondensed);
    margin-top: $apx-8;

  }

}

@media (max-width: $media-laptop) {

  .control_with_icon.adaptive_text {

    p { display: none; }

  }

  .control_with_icon {

    gap: $apx-l-8;

    .icon {

      width: $apx-l-24;
      height: $apx-l-24;

    }

  }

  .header.header_small {

    padding-top: $apx-l-10;
    padding-bottom: $apx-l-10;
    justify-content: center;

  }

  .header {

    height: $apx-l-120;
    padding-top: $apx-l-10;
    padding-bottom: $apx-l-10;

    .logo {

      width: $apx-l-136;
      height: $apx-l-50;

      svg {
        
        width: 100%;
        height: 100%;
        
      }

    }

    .navigation {

      gap: $apx-l-16;
      margin-left: $apx-l-48;

    }

  }

  .sign_in_popup {

    max-width: $apx-l-414;

  }

  .sign_in_form {


    .sign_in_button {
    
      margin-top: $apx-l-24;
    
    }
  
    .code_time {
  
      font-size: $apx-l-14;
      margin-top: $apx-l-16;
  
    }
  
    .sign_in_code_send_button {
      
      margin-top: $apx-l-32;
      margin-bottom: $apx-l-10;
  
    }
  
    button {
      width: 100%;
    }
  
    .sign_in_privacy_policy {
  
      margin-top: $apx-l-16;
      font-size: $apx-l-13;
  
    }
  
    .sign_in_code {
  
      gap: $apx-l-10;
      margin: 0 auto;
      margin-top: $apx-l-8;
  
    }
  
    .sign_in_code_label, .sign_in_code_err {
  
      font-family: var(--font-myweekend);
      font-weight: 400;
      font-size: $apx-l-14;
      line-height: 120%;
  
      margin-top: $apx-l-32;
      text-align: left;
  
    }
  
    .sign_in_code_err {
  
      color: var(--color-red);
      font-family: var(--font-garamondCondensed);
      margin-top: $apx-l-8;
  
    }
  
  }

}

@media (max-width: $media-mobile) {

  .mobile_hide {
    display: none;
  }

  .mobile_menu_button {

    display: block !important;
    width: $apx-m-36;
    height: $apx-m-36;
    background: none;
    padding: 0;
    border: none;

    svg {

      width: 100%;
      height: 100%;

    }

  }

  .control_with_icon.adaptive_text {

    p {
      display: none;
    }

  }

  .controls {
    gap: $apx-m-16;
    .favorite {
      display: none;
    }  
  }

  
  .control_with_icon {

    .icon {

      width: $apx-m-22;
      height: $apx-m-22;

    }

  }

  .header.header_small {

    padding-top: $apx-m-16;
    justify-content: center;
    padding-bottom: $apx-m-16 !important;


  }

  .header {

    height: $apx-m-132;
    padding-top: $apx-m-16;
    padding-bottom: $apx-m-10;


    .logo {

      width: $apx-m-113;
      height: $apx-m-42;
      margin-right: -$apx-m-26 !important;
      display: block;
      margin: 0 auto;

      svg {
        width: 100%;
        height: 100%;
      }


    }

    .navigation_item span {

        padding: $apx-m-4 $apx-m-8 !important;

    }

    .navigation {

      display: none;

    }

  }

  .sign_in_popup {

    max-width: $apx-m-300;

  }

  .sign_in_form {


    .sign_in_button {
    
      margin-top: $apx-m-16;
    
    }
  
    .code_time {
  
      font-size: $apx-l-14;
      margin-top: $apx-l-16;
  
    }
  
    .sign_in_code_send_button {
      
      margin-top: $apx-l-32;
      margin-bottom: $apx-l-10;
  
    }
  
    button {

      width: 100%;

    }
  
    .sign_in_privacy_policy {
  
      margin-top: $apx-m-16;
      font-size: $apx-m-12;
  
    }
  
    .sign_in_code {
  
      display: flex;
      gap: $apx-16;
      width: fit-content;
      margin: 0 auto;
      margin-top: $apx-8;
      flex-wrap: wrap;
      justify-content: center;
  
      div {
  
        margin-top: 0;
  
      }
  
      input {
  
        width: $apx-91;
        text-align: center;
  
      }
  
    }
  
    .sign_in_code_label, .sign_in_code_err {
  
      font-family: var(--font-myweekend);
      font-weight: 400;
      font-size: $apx-14;
      line-height: 120%;
  
      margin-top: $apx-32;
      text-align: left;
  
    }
  
    .sign_in_code_err {
  
      color: var(--color-red);
      font-family: var(--font-garamondCondensed);
      margin-top: $apx-8;
  
    }
  
  }

}
