.text-center { text-align: center; }

.flex { display: flex; }
.flex-col { flex-direction: column; }
.justify-center { justify-content: center; }
.items-center { align-items: center; }

.mobile {
  display: none;
}

.gap-24 { gap: $apx-24; }
.gap-16 { gap: $apx-16; }
.gap-3 { gap: $apx-3; }
.gap-8 { gap: $apx-8; }

.mt-120 { margin-top: $apx-120 !important; }
.mt-60 { margin-top: $apx-60 !important; }
.mt-24 { margin-top: $apx-24 !important; }
.mt-16 { margin-top: $apx-16 !important; }
.mt-0 { margin-top: 0 !important; }

.mb-120 { margin-bottom: $apx-120 !important; }


.relative { position: relative; } 

.text-nowrap { white-space: nowrap ;}
.text-left { text-align: left  !important;}

@media (max-width: $media-laptop) {
  
  .gap-l-8 { gap: $apx-l-8; }
  .gap-l-12 { gap: $apx-l-12; }
  .gap-l-16 { gap: $apx-l-16; }
  .gap-l-20 { gap: $apx-l-20; }

  .mt-l-24 { margin-top: $apx-l-24 !important;  }
  .mt-l-40 { margin-top: $apx-l-40 !important;  }
  .mt-l-16 { margin-top: $apx-l-16 !important;  }

}

@media (max-width: $media-mobile) {
  
  .gap-m-8 { gap: $apx-m-8; }
  .gap-m-12 { gap: $apx-m-12; }
  .gap-m-16 { gap: $apx-m-16; }

  .mt-m-40 { margin-top: $apx-m-40 !important;  }
  .mt-m-16 { margin-top: $apx-m-16 !important;  }

  .pt-m-8 { padding-top: $apx-m-8 !important; }
  
  .mobile {
    display: block;
  }
  
}