@import '@/app/_styles/breakpoints.scss';
@import '@/app/_styles/apx.scss';


.button {

  padding: $apx-12 $apx-40;
  border-radius: $apx-81;

  font-family: var(--font-myweekend);
  font-weight: 400;
  font-size: $apx-16;
  line-height: 120%;
  color: var(--color-white);

  border: none;
  background: var(--color-green);

  transition: background .3s;

  &:hover {

    background-color: #1C823F;

  }
  &:active {
    background-color: #0E602A;
  }

}