@import '@/app/_styles/breakpoints.scss';
@import '@/app/_styles/apx.scss';


.button {

  padding: $apx-12 $apx-40;
  border-radius: $apx-81;

  font-family: var(--font-myweekend);
  font-weight: 400;
  font-size: $apx-16;
  line-height: 120%;
  color: var(--color-white);

  border: none;
  background: var(--color-green);

  transition: background .3s;

  &:hover {

    background-color: #1C823F;

  }
  &:active {
    background-color: #0E602A;
  }

}

.button.white {

  background: var(--color-white);
  border: $apx-1 solid var(--color-green);

  color: var(--color-green);

}

.button.red {

  background: var(--color-white);
  border: $apx-1 solid var(--color-red);

  color: var(--color-red);

}

@media (max-width: $media-laptop) {
  
  .button {

    padding: $apx-l-10 $apx-l-40;
    border-radius: $apx-l-81;
  
    font-size: $apx-l-14;
  
  }
  
  .button.white {
  
    border: $apx-l-1 solid var(--color-green);
  
  }
  
  .button.red {
  
    border: $apx-l-1 solid var(--color-red);
  
  }

}


@media (max-width: $media-mobile) {
  
  .button {

    padding: $apx-m-10 $apx-m-40;
    border-radius: $apx-m-81;
  
    font-size: $apx-m-14;
  
  }
  
  .button.white {
  
    border: $apx-m-1 solid var(--color-green);
  
  }
  
  .button.red {
  
    border: $apx-m-1 solid var(--color-red);
  
  }

}